.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.main-body {
  display: flex;
  flex-direction: row;
}

#items-section {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin: 0 1em;
}

#items-section ul {
  list-style: none;
  text-align: left;
}

#items-section li>span:first-child {
  padding-right: 1em;
  width: 1.5em;
  max-width: 1.5em;
  display: inline-block;
}

.controls {
  padding-left: 40px;
  text-align: left;
}

.controls button {
  margin-right: 1em;
}

#side-items {
  flex: 1;
}